---
http_interactions:
- request:
    method: get
    uri: https://api.appboy.com/email/unsubscribes?app_group_id=<APPBOY_GROUP_ID>&end_date=2016-09-20&offset=0&start_date=2016-09-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd2151ad56eaf26e2100d59c7c6e98b1"
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49998'
      X-Ratelimit-Reset:
      - '1474387200'
    body:
      encoding: ASCII-8BIT
      string: '{"emails":[{"email":"test@test.com","unsubscribed_at":"2016-09-19 18:05:52
        +0000"},{"email":"test@test.com","unsubscribed_at":"2016-09-19 18:05:49 +0000"},{"email":"test@test.com","unsubscribed_at":"2016-09-19
        17:52:08 +0000"}],"message":"success"}'
  recorded_at: Tue, 20 Sep 2016 15:53:03 GMT
recorded_with: VCR 3.0.3
